# -------------------------
# Dependencies
# -------------------------
node_modules/

# -------------------------
# Build output
# -------------------------
dist/
build/

# -------------------------
# Environment variables
# -------------------------
.env
.env.local
.env.development
.env.production

# -------------------------
# Logs
# -------------------------
logs/
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# -------------------------
# OS files
# -------------------------
.DS_Store
Thumbs.db

# -------------------------
# VS Code / IDE
# -------------------------
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json

# -------------------------
# TypeScript
# -------------------------
*.tsbuildinfo

# -------------------------
# Temporary / cache
# -------------------------
.tmp/
.cache/
coverage/

# -------------------------
# Nodemon
# -------------------------
nodemon.json
